body{
  background-color:#626B7C
}

h1{
  text-decoration:underline;
  color:#D178FD;
  text-align:center;
  font-family: fantasy;
  font-size:14;
}

.mainimg{
  display:block;
  margin-left:auto;
  margin-right:auto;
  }

article{
  display: grid;
  grid: "img meta" auto / 600px auto;
  margin-bottom: 60px;
}

#link{
  color:#D996F1;
  grid-area: meta;
  align-self: start;
}

#duedate{
  color:#E8E6E6;
  grid-area: meta;
  align-self: start;
}


.element{
  grid-area: img;
  justify-self: center;
}

<<<<<<< HEAD
.img{
  width:200px;
  height:200px;
}
=======
.img
  {width:200px;
  height:200px;
  margin-left:auto;
  margin-right:auto;}
>>>>>>> 987d3bd85445be395b8bd5f2628f46485d0e3906


ul.a{list-style-type:circle;}

ul.b{list-style-type:square;}
