body {  color:#626B7C;
  align-items:center;}

h1{
  text-decoration:underline;
  color:#D178FD;
  text-align:center;
  font-family:cursive;
  font-size:14;}

#more{
color:#7A68CD}

.img{
  display:block;
  margin-left:auto;
  margin-right:auto;}

ul.a {  list-style-type:circle;}

ul.b {  list-style-type:square;}
