<DOCTYPE stylesheet>
<style>
body {
  background-color: gray;
}

.text
{
  text-color: SlateBlue;
  text-align: center;
  font-family: cursive;
}

.image
{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

ul.a {
  list-style-type:circle;
}
</style>
