  body {
    color: #626B7C;
    font-family: Helvetica, sans-serif;
  }

  h1
    {text-decoration:underline;
    color:#D178FD;
    text-align:center;
    font-family:fantasy;
    font-size:14;}

  #logo {
    text-align: center;
  }
  #more
    {color:#7A68CD}


  .thumbnail {
    width: 150px;
    height: 100px;
  }

  ul.a
    {list-style-type:circle;}

  ul.b
    {list-style-type:square;}
