body{
  background-color: gray;
}

h1{
  text-decoration:underline;
  color: maroon;
  text-align:center;
  font-family: fantasy;
  font-size: 36;
}

h2{
  text-decoration: inherit;
  color: lightgray;
  text-align: left;
  font-family: serif;
  font-size: 20;
}

 h3{
   text-decoration: inherit;
   color: lightgray;
   text-align: left;
   text-indent: 10%;
   font-family: serif;
   font-size: 20;
 }

#bigpic{
  display:block;
  margin-left:auto;
  margin-right:auto;
  }

.icon {
  width:40px;
  height:40px;
  margin-left:auto;
  margin-right:auto;
}
#travelMap{
  height: 500px
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
